@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400 ;
    font-style: normal;
  }

  /* shared styles */
.flex{
display: flex;
}
.bg-light{
    background-color:rgba(255, 144, 14, 0.1);
}
.dark-1{
    color:rgba(19, 19, 19, 1);
}
.dark-2{
    color:rgba(66, 66, 66, 1);
}
.dark-3{
    color:rgba(114, 114, 114, 1);
}
.dark-4{
    color:rgba(161, 161, 161, 1);
}
.icon-border-color{
    color:rgba(255, 144, 14, 1);
}
/* button styles */
.btn{
    color:rgba(255, 255, 255, 1);
    background-color: rgba(255, 144, 14, 1);
    border-radius: 8px;
    border: none;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 16px 21px;

}
main{
    max-width: 1080px;
    margin: 0 auto;
}
  /* navbar styels */
ul > li{
    list-style: none;
}
.brand{
    font-weight: 700;
    font-size: 2.5rem;
    color:rgba(19, 19, 19, 1);
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.menu-icons{
    gap:30px;
}
.icon-links{
    text-decoration: none;
}
.nav-bar, .banner{
    max-width: 1080px;
    margin: 0 auto;
}
/* banner section */
.banner-content{
    text-align: center;
    max-width:700px ;
    margin: 0 auto;
    margin-bottom: 50px;

}
.banner-title{
    font-weight: bold;
    font-size: 3rem;
}
.banner-description{
    font-size: 12px;
    color:rgba(114, 114, 114, 1);
}
.banner-img{
    width: 100%;
    margin-bottom: 40px;

}
/* teams img and features styels */
.teams{
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.our-features{
    margin-left:70px;
    max-width: 500px;
}
#quick-list{
    color:rgba(114, 114, 114, 1);
}
#of-our{
 color:rgba(19, 19, 19, 1);
 font-size: 2.5rem;
 font-weight:700;
}
#features{
color:rgba(255, 144, 14, 1);
font-size: 2.5rem;
font-weight:700;
}
.features-description{
    font-size: .5rem;
    font-weight: 400;
}
/* section-features-styles*/
.section-features-title{
    color:rgba(19, 19, 19, 1);
}
.section-features-description{
    color:rgba(114, 114, 114, 1);
    margin-top:15px;
    max-width: 450px;
}
.section-icons{
    display: flex;
    justify-content: space-around;
    margin-top:80px;
    margin-bottom: 80px;
}
.section-icon{
    border:1px solid rgba(255, 144, 14, 1);
    width: 200px;
    height:200px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-number{
    margin-top: 8px;
    margin-bottom: 5px;
}
.section-name{
    margin-top: 0px;
}
/* sponsors related styles */
.sponsors-info{
    text-align: center;
    width:540px;
    margin: 0 auto;
    margin-bottom: 50px;

}
.sponsors-icons{
display: grid;
grid-template-columns: repeat(5, 1fr);
gap:10px;
margin-bottom:100px;
}
.sponsors-icons{
    filter: grayscale(100%);
}
@media screen and (max-width:576px) {
    .nav-bar, 
    .menu-icons,
    .teams {
        flex-direction: column;
    }
    .team-img-container 
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        width: 350px;
        margin-left: 20px;
        margin: 50px auto;
    }
    .section-icons{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .section-features {
        margin-left: 20px;
    }
    .sponsors-icons{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        margin-left: 50px;
        gap:20px;
        
    }
}
/* medium device media query */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;

    }
    .our-features{
       margin: 50px auto;
    }
}